.jumbotron {
    margin-top: 50px;
}

#jumbo-header-small {
    display: none;
}

#address-input {
    margin-top: 20px;
    margin-bottom: 5px;
}

.results-table {
    margin-top: 10px;
}

.map_table_toggle {
    margin-top: 20px;
}

.pac-container:after {
           /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */
           background-image: none !important; height: 0px;
           }